{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}


<div class="main-page-wrapper">

    
    <h1><a href="/project">Проекты</a></h1>
    <h1><a href="/developer">Исполнители</a></h1>

    
</div>
{% endblock %}
