{% extends 'base.html.twig' %}

{% block title %}Новый сотрудник{% endblock %}

{% block body %}
    <h1>Новый сотрудник</h1>

    {{ include('developer/_form.html.twig') }}

    <a href="{{ path('app_developer_index') }}">Обратно к списку</a>
{% endblock %}
