<form method="post" action="{{ path('app_project_delete', {'id': project.id}) }}" onsubmit="return confirm('Вы уверены ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ project.id) }}">
    <button class="btn">Удалить</button>
</form>
